<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.MybatisTest.dao.MybatisTestDao">
	<insert id="insertPvPsoKvndDayHis"  parameterType="com.MybatisTest.vo.PsoKvndDayHisVo">
		 replace into pso_kvnd_day_his (resource_id, kvnd, date) 
		  SELECT x.resource_id as resource_id, SUM(x.ACT_PWR_QTY * x.VT2_MS_PRICE / 1000) as kvnd, DATE_FORMAT(#{date, jdbcType=VARCHAR}, '%Y%m%d') as date
			FROM ( SELECT md.ACT_PWR_QTY, p.VT2_MS_PRICE, md.resource_id
				   FROM ( SELECT m.*, pnt.resource_id FROM meter_data m, mk_resource_meter_pnt as pnt
						  WHERE MR_YMD = #{date, jdbcType=VARCHAR}
						  AND MR_HHMI != '0000'
						  and m.meter_id = pnt.meter_id 
						  and pnt.resource_id = #{resource_id, jdbcType=VARCHAR} ) AS md, 
						( SELECT tou_time,VT2_MS_PRICE FROM mk_tou_price WHERE tou_time NOT LIKE '22%'
						  UNION ALL
						  SELECT '22:00 ~ 23:55',VT2_MS_PRICE FROM mk_tou_price WHERE tou_time LIKE '22%'
						  UNION ALL
						  SELECT '00:00 ~ 04:00',VT2_MS_PRICE FROM mk_tou_price WHERE tou_time LIKE '22%') AS p
					WHERE STR_TO_DATE(CONCAT(md.MR_YMD, md.MR_HHMI, '00'),'%Y%m%d %H%i%s') 
							   BETWEEN DATE_ADD(STR_TO_DATE(CONCAT(md.MR_YMD, SUBSTR(p.tou_time,1,5),':', '00'),'%Y%m%d %H:%i:%s'),INTERVAL 1 MINUTE) 
							   AND STR_TO_DATE(CONCAT(md.MR_YMD, SUBSTR(p.tou_time,9,5), ':', '00'),'%Y%m%d %H:%i:%s')
					UNION all
					SELECT md.ACT_PWR_QTY, p.VT2_MS_PRICE, md.resource_id
					FROM ( SELECT m.*, pnt.resource_id FROM meter_data m, mk_resource_meter_pnt as pnt 
						   WHERE MR_YMD = date_add(STR_TO_DATE(#{date, jdbcType=VARCHAR},'%Y%m%d'),INTERVAL 1 DAY) 
						   AND MR_HHMI = '0000'
						   and m.meter_id = pnt.meter_id 
						   and pnt.resource_id = #{resource_id, jdbcType=VARCHAR}) AS md, 
						 ( SELECT '00:00 ~ 04:00',VT2_MS_PRICE 
						   FROM mk_tou_price 
				   		   WHERE tou_time LIKE '22%') AS p ) x;
   </insert>
   
	<insert id="insertEssPsoKvndDayHis"  parameterType="java.util.HashMap">
		 replace into pso_kvnd_day_his (resource_id, kvnd, date) 
		  SELECT x.resource_id as resource_id, SUM(x.ACT_PWR_QTY * x.VT2_MS_PRICE / 1000) as kvnd, DATE_FORMAT(#{date, jdbcType=VARCHAR}, '%Y%m%d') as date
			FROM ( SELECT md.ACT_PWR_QTY, p.VT2_MS_PRICE, md.resource_id
				   FROM ( SELECT m.*, pnt.resource_id FROM meter_data m, mk_resource_meter_pnt as pnt
						  WHERE MR_YMD = #{date, jdbcType=VARCHAR}
						  AND MR_HHMI != '0000'
						  and m.meter_id = pnt.meter_id 
						  and pnt.METER_TYPE = #{type, jdbcType=VARCHAR}
						  and pnt.resource_id = #{resource_id, jdbcType=VARCHAR} ) AS md, 
						( SELECT tou_time,VT2_MS_PRICE FROM mk_tou_price WHERE tou_time NOT LIKE '22%'
						  UNION ALL
						  SELECT '22:00 ~ 23:55',VT2_MS_PRICE FROM mk_tou_price WHERE tou_time LIKE '22%'
						  UNION ALL
						  SELECT '00:00 ~ 04:00',VT2_MS_PRICE FROM mk_tou_price WHERE tou_time LIKE '22%') AS p
					WHERE STR_TO_DATE(CONCAT(md.MR_YMD, md.MR_HHMI, '00'),'%Y%m%d %H%i%s') 
							   BETWEEN DATE_ADD(STR_TO_DATE(CONCAT(md.MR_YMD, SUBSTR(p.tou_time,1,5),':', '00'),'%Y%m%d %H:%i:%s'),INTERVAL 1 MINUTE) 
							   AND STR_TO_DATE(CONCAT(md.MR_YMD, SUBSTR(p.tou_time,9,5), ':', '00'),'%Y%m%d %H:%i:%s')
					UNION all
					SELECT md.ACT_PWR_QTY, p.VT2_MS_PRICE, md.resource_id
					FROM ( SELECT m.*, pnt.resource_id FROM meter_data m, mk_resource_meter_pnt as pnt 
						   WHERE MR_YMD = date_add(STR_TO_DATE(#{date, jdbcType=VARCHAR},'%Y%m%d'),INTERVAL 1 DAY) 
						   AND MR_HHMI = '0000'
						   and m.meter_id = pnt.meter_id 
						   and pnt.METER_TYPE = #{type, jdbcType=VARCHAR}
						   and pnt.resource_id = #{resource_id, jdbcType=VARCHAR}) AS md, 
						 ( SELECT '00:00 ~ 04:00',VT2_MS_PRICE 
						   FROM mk_tou_price 
						   WHERE tou_time LIKE '22%') AS p ) x;
   </insert>
 </mapper>
   